body {
    min-height: 100vh;
    margin: 0;

    background-color: bisque;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

#saisie {
    min-width: 30vw;
}

#reponse, #message {
    margin-bottom: .5em;
    text-align: center;
    min-height: 1.5em;
}

#reponse {
    font-size: 16pt;
    font-family: monospace;
    letter-spacing: .5em;
}

#message {
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
}

#lettres {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(2em, auto);
}

svg {
    max-height: 20vw;
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.hidden {
    visibility: hidden;
}